<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <div class="sidebar-menu">
        <a class="sidebar-nav-item" href="/index">Home</a>
        <a class="sidebar-nav-item" href="/about">About</a>
        <a class="sidebar-nav-item" href="/archive">Archive</a>
      </div>


      <div>
        <a href="https://www.linkedin.com/in/andrii-omelianovych-0347461b/" class="sidebar-nav-item1">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/andrii.omel" class="sidebar-nav-item1">
          <i class="fa fa-facebook"></i>
        </a>
      </div>

    </nav>

  </div>
</div>
